<app-header></app-header>

<section class="py-5">
    <h2 class="m-4">Your wishlist</h2>
    <div class="container px-4 px-lg-5 mt-5">
        <div *ngIf="allProducts.length>0">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div *ngFor="let product of allProducts" class="col mb-5">
                    <div class="card h-100">
                        <img routerLink="/{{product.id}}/view" height="300px" style="cursor: pointer;"
                            [src]="product.image" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{product.title.slice(0,20)}}</h5>
                                ${{product.price}}
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="d-flex justify-content-evenly">
                                <button (click)="removeItem(product._id)" class="btn"><i class="fa-solid fa-heart text-danger"></i></button>
                                <button (click)="addToCart(product)" class="btn"><i class="fa-solid fa-cart-plus text-success"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="allProducts.length == 0">
            <div style="height: 80vh;" class="d-flex justify-content-center align-items-center">
                <h1>Your wishlist is empty</h1>
            </div>
        </div>
    </div>
</section>