<app-header></app-header>

<div class='container' style='margin-top: 130px'>
    <h2>Cart Summery</h2>
    <div class='cart'>
      <div *ngIf="allProducts.length>0">
        <div class='row mt-4'>
          <div class='col-lg-8'>
            <table class='table'>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Image</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>...</th>
                </tr>
              </thead>
              <tbody>
                <!-- Replace with actual Angular template logic -->
                <tr *ngFor="let product of allProducts;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{product.title}}</td>
                  <td><img width='50px' height='50px' [src]="product.image" alt='Product 1'></td>
                  <td>
                    <div class='d-flex'>
                      <button (click)="decrementQuantity(product._id)" class='btn fw-bolder'>-</button>
                      <input [value]="product.quantity" class='text-center' value='1' type='text' readonly style='width: 50px'>
                      <button (click)="increamentQuantity(product._id)" class='btn fw-bolder'>+</button>
                    </div>
                  </td>
                  <td>$ {{product.totalPrice}}</td>
                  <td class='text-primary'><button (click)="removeItem(product._id)" class='btn'><i class='fa-solid fa-trash'></i></button></td>
                </tr>
              </tbody>
            </table>
            <div class='float-end'>
              <button (click)="emptyCart()" class='btn bg-black text-white me-3'>Empty cart</button>
              <a routerLink="" class='btn bg-black text-white'>Shop more</a>
            </div>
          </div>
          <div class='col-lg-4'>
            <div class='border rounded p-3 '>
              <h4 class='text-center'>Total amount : <span class='text-danger fw-bolder'>$ {{cartTotalPrice}}</span></h4>
              <h6 *ngIf="!couponStatus" (click)="getCoupon()">Click here to view offer <span class=" btn-link btn-primary"> <i class="fa-solid fa-tag"></i> offers</span></h6>
              <hr>
              <div *ngIf="couponStatus" class="d-flex justify-content-evenly m-3 gap-3 align-items-center flex-column">
                <ng-container *ngIf="cartTotalPrice<50">
                  <p>sorry no offers</p>
                  <button (click)="backToOfferce()" class="btn btn-danger">go back</button>
                </ng-container>
                <ng-container *ngIf="cartTotalPrice>50 && cartTotalPrice<250 && !couponClickStaus">
                  <img (click)="coupon5percent()" width="150px" height="100px" src="https://tse2.mm.bing.net/th?id=OIP.2IAvQtd97rQ44snL6ENhGgHaDT&pid=Api&P=0&h=180" alt="">
                </ng-container>
                <ng-container *ngIf="cartTotalPrice>250 && cartTotalPrice<500  && !couponClickStaus">
                  <img width="150px" height="100px" src="https://tse1.mm.bing.net/th?id=OIP.lLrYMG5XKHWlYxz79ZbU9gHaDa&pid=Api&P=0&h=180" alt="">
                </ng-container>
                <ng-container *ngIf="cartTotalPrice>500  && !couponClickStaus ">
                  <img width="150px" height="100px" src="https://i0.wp.com/www.titanui.com/wp-content/uploads/2016/06/18/Flat-Red-50-Coupon-Vector.png" alt="">
                </ng-container> 
              </div>
              <div class='d-grid'>
                <button (click)="checkout()" class='btn btn-success'>Check out</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="allProducts.length == 0" class='d-flex flex-column align-items-center justify-content-center'>
      <img width='400px' src='https://cdn-icons-png.flaticon.com/512/11329/11329060.png' alt='Empty Cart'>
      <h1 style='color: red'>Your cart is empty</h1>
    </div>
  </div>
  